
[data-bs-theme=light] .bg-nav{
    background-color: $primary;
    --bs-heading-color: #fff4ee;
  }

  nav a.nav-link, a.nav-link:active{
    color:$primary-accent
  }

  [data-bs-theme=light] .nav-text a.nav-drop{
    color: black;
    --bs-navbar-active-color: black;
     }
  
  [data-bs-theme=light] a.nav-drop.dropdown-item{
    -color: #1b1b1b !important;
  
  }

  [data-bs-theme=light] .nav-drop.dropdown-item:hover{
    background-color: $primary-accent;
  }
    
  .nav-text a{
    color: #fff4ee;
    --bs-navbar-active-color: #d8cfcb;
  }
    
  .nav-text 
  a:hover{
    color: #EBAA98;
  }

  [data-bs-theme=dark] .bg-nav {
    background-color:$primary ;
  }

  nav {
    height: 5rem;
  }

  [data-bs-theme=light] input.mainSearchBox{
    background-color: $light-background;
  }

  [data-bs-theme=dark] input.mainSearchBox{
    background-color: $dark-background;
  }

  [data-bs-theme=light] nav .dropdown-menu{
    background-color: $light-background;
  }
  
  [data-bs-theme=dark] nav .dropdown-menu{
    background-color: $dark-background;
  }

  [data-bs-theme=light] .offcanvas-body, .offcanvas-header{
    background-color: $light-background;
  }

  [data-bs-theme=dark] .offcanvas-body, .offcanvas-header{
    background-color: $dark-background;
  }