
// $brand-color:#c4361e;
// $brand-color-active-button:#a12d18;
// $brand-color-light:#b3321b;
// $brand-color-dark:#752619;
// $brand-color-disabled:#a33f2d;
// $light-background:#FDEFDE;
// $dark-background: #1d1d1d;

$primary-accent:#ffe7c2;
$primary:#5D6F6A;
$secondary:#314e4e;
$light-background:#fffaf1;
$dark-background: #1d2222;
$primary-dark: #ffffff;


//https://coolors.co/80475e-ffe7c2-3f6464-fff8eb-8c2b3f