
// $brand-color:#c4361e;
// $brand-color-active-button:#a12d18;
// $brand-color-light:#b3321b;
// $brand-color-dark:#752619;
// $brand-color-disabled:#a33f2d;
// $light-background:#FDEFDE;
// $dark-background: #1d1d1d;

$primary-light:#ff6145;
$primary:#c4361e;
$secondary:#812514;
$light-background:#FDEFDE;
$dark-background: #121212;
$primary-dark: #ffffff;