@import "./stylesheets/nutrition-facts.scss";
$primary:#c4361e;
$secondary:#812514;
$light-background:#FDEFDE;
$dark-background: #303030;
@import "../node_modules/bootstrap/scss/bootstrap.scss";





[data-bs-theme=light] .bg-nav{
  background-color: $primary;
  --bs-heading-color: #fff4ee;

}

[data-bs-theme=light] .btn-primary{
  --bs-btn-color: #fff;
  --bs-btn-bg: var($primary);
  --bs-btn-border-color: var($primary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(darken($primary, 10%));
  --bs-btn-hover-border-color: var(darken($primary, 10%));
  --bs-btn-focus-shadow-rgb: 97, 149, 239;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(darken($primary, 15%));
  --bs-btn-active-border-color: var(darken($primary, 15%));
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(darken($primary, 20%));
  --bs-btn-disabled-border-color: var(darken($primary, 20%));


  [data-bs-theme=light] .btn-secondary{
    --bs-btn-color: #fff;
    --bs-btn-bg: var($secondary);
    --bs-btn-border-color: var($secondary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(darken($secondary, 10%));
    --bs-btn-hover-border-color: var(darken($secondary, 10%));
    --bs-btn-focus-shadow-rgb: 97, 149, 239;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(darken($secondary, 15%));
    --bs-btn-active-border-color: var(darken($secondary, 15%));
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(darken($secondary, 20%));
    --bs-btn-disabled-border-color: var(darken($secondary, 20%));
  }}

[data-bs-theme=dark] .btn-primary {
  border:0px;
  --bs-btn-color: #fff;
  --bs-btn-bg: #434242;
  --bs-btn-border-color: #c4361e;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #b3321b;
  --bs-btn-hover-border-color: #b3321b;
  --bs-btn-focus-shadow-rgb: 97, 149, 239;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #a12d18;
  --bs-btn-active-border-color: #a12d18;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #a33f2d;
  --bs-btn-disabled-border-color: #a33f2d;
}


  
.login {
  background-color: rgb(41, 40, 40, .1);
  border-radius: 10px;
  max-width: 30rem;
  
}

.login-card {
  height: 30vh;
  min-height:200px;
  max-height: 400px;
}


body {
  $font-family-sans-serif:
  // Cross-platform generic font family (default user interface font)
  system-ui,
  // Safari for macOS and iOS (San Francisco)
  -apple-system,
  // Windows
  "Segoe UI",
  // Android
  Roboto,
  // older macOS and iOS
  "Helvetica Neue"
  // Linux
  "Noto Sans",
  "Liberation Sans",
  // Basic web fallback
  Arial,
  // Sans serif fallback
  sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

}

.recipecard:hover {
    transform: scale(1.1);
}



.recipecard {
  transition: transform .5s;
}

.btn{
  border-radius: 0%;
}


.break {
  flex-basis: 100%;
  height: 0;
}




[data-bs-theme=dark] .btn-primary {
  border:0px;
  --bs-btn-color: #fff;
  --bs-btn-bg: #434242;
  --bs-btn-border-color: #c4361e;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #b3321b;
  --bs-btn-hover-border-color: #b3321b;
  --bs-btn-focus-shadow-rgb: 97, 149, 239;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #a12d18;
  --bs-btn-active-border-color: #a12d18;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #a33f2d;
  --bs-btn-disabled-border-color: #a33f2d;
}






[data-bs-theme=light] a.nav-drop.dropdown-item{
  -color: #1b1b1b !important;

}

.nav-text a{
  color: #fff4ee;
  --bs-navbar-active-color: #d8cfcb;


}

[data-bs-theme=light] .nav-text a.nav-drop{
  color: black;
  --bs-navbar-active-color: black;
   

}

.nav-text 
a:hover{
  color: #d8cfcb;

}




[data-bs-theme=dark] .bg-nav {
  background-color:$primary ;
}

[data-bs-theme=dark] .form-control,[data-bs-theme=dark] label {
  --bs-body-bg: rgb(41, 40, 40);
}



.photo-text:hover{
  background-color: rgba(0, 0, 0, 0.082);
  border-radius:2rem;
}



[data-bs-theme=light] body{
  // background-image: linear-gradient(to left bottom, #ede9d0, #f3e7d2, #f6e5d5, #f8e4d9, #f8e4de, #f8e4df, #f8e4e0, #f8e4e1, #fae4df, #fce5dd, #fee5da, #ffe6d8);  margin: 0;
  background-color:$light-background;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

[data-bs-theme=dark] body{
  // background-image: linear-gradient(to left bottom, #ede9d0, #f3e7d2, #f6e5d5, #f8e4d9, #f8e4de, #f8e4df, #f8e4e0, #f8e4e1, #fae4df, #fce5dd, #fee5da, #ffe6d8);  margin: 0;
  background-color:$dark-background;
  background-repeat: no-repeat;
  background-attachment: fixed;
}




// input:invalid {
//   border: none;
//   outline: 2px solid rgb(255, 145, 0);
//   border-radius: 5px;
// }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.svg-icon{
  color:#222222;
}

.svg-icon:hover{
  color:#636363
}

.svg-icon:active{
  color:#383838
}

.form-check-input{
  accent-color:#681e11;
}

.scrollbar{
  overflow-x: hidden;
  overflow-y:hidden;
  scroll-snap-type: x mandatory;
  scroll-padding: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  
  

}

.scrollable{
  scroll-snap-align: center ;
}